.container {
    height: 196px;
    padding: 54px var(--quadruple-unit) 0;
    background-size: cover;
}
.container_recipe {
    background: url('../../assets/images/recipeBannerImage.png');
}
.container_diary {
    background: url('../../assets/images/diaryBannerImage.png');
}
.container_refrigerator {
    background: url('../../assets/images/RefrigeratorImage.png');
}

/* 텍스트 */
.title_wrap {
    color: #fff;
    white-space: pre-line;
}
.container_edit > .title_wrap {
    color: #000;
}
.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}
.sub_title {
    margin-top: var(--double-unit);
}