.container {
    position: absolute;
    left: 0;
    top: 215px;
    width: 100%;
    height: 100%;
    padding: var(--octuple-unit) var(--quadruple-unit);
    background: #fff;
    border-radius: var(--octuple-unit) var(--octuple-unit) 0 0;
    text-align: left;
    overflow-y: scroll;
    z-index: 1000;
}
.item_wrap {
    /* height: 913px; */
    margin-bottom: 76px;
}
.item_wrap > li {
    margin-bottom: var(--octuple-unit);
}
.item_wrap > li > label {
    display: inline-block;
    margin-bottom: var(--quadruple-unit);
    font-weight: 600;
    color: var(--silver);
}
.item_wrap > li > div {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: var(--quadruple-unit);
}
.button_wrap {
    display: flex;
    gap: var(--triple-unit);
    grid-template-columns: 1fr 1fr;
    padding: var(--quadruple-unit) 0;
    border-top: 1px solid var(--gainsboro);
}
.button {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
}
.reset_button {
    width: 124px;
    border: 1px solid var(--gainsboro);
    background: #fff;
}
.apply_button {
    width: 192px;
    background: var(--main-orange);
    color: #fff;
}