.container {
    padding: 10px var(--quadruple-unit);
    text-align: right;
}

/* 뒤로가기 버튼 있는 헤더 */
.back_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back_button {
    outline: none;
    border: none;
    background: none;
}
.page_title {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.blank {
    width: 24px;
    height: 24px;
}

/* 기본 헤더 */
.nav > li {
    display: inline-block;
    margin-left: var(--quadruple-unit);
    cursor: pointer;
}