.container {
    width: 100%;
    height: 100%;
    padding: var(--double-unit);
    background: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
}
.container > ul > li {
    display: inline-block;
    width: 54px;
    height: 100%;
    margin: 0 calc(29px / 2);
    cursor: pointer;
}
.icon {
    width: var(--sextuple-unit);
    height: var(--sextuple-unit);
    margin: auto;
}
.icon > img {
    width: 100%;
    height: 100%;
}
.icon_name {
    font-size: 11px;
}
.upload_button {
    position: relative;
}
.selectbox_create {
    position: absolute;
    right: 50%;
    bottom: 65px;
    transform: translate(50%, 10%);
    width: 130px;
    padding: var(--triple-unit);
    border-radius: var(--quadruple-unit);
    box-shadow: var(--box-shadow);
    background: rgba(255, 255, 255, 0.6);
}
.selectbox_create > li:not(:last-of-type) {
    margin-bottom: var(--triple-unit);
}
.selectbox_create button {
    width: 20px;
    height: 20px;
    background: var(--silver);
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
}