.container {
    height: 100vh;
    padding: 72px 16px 0;
    text-align: center;
}
.sub_title,
.title {
    color: var(--main-orange);
}
.sub_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
}
.sub_title > svg {
    margin-right: var(--standard-unit);
}
.title {
    margin: var(--triple-unit) 0;
    font-weight: 700;
    font-size: 32px;
}

/* 목업이미지 */
.image {
    width: 197px;
    height: 358px;
    margin: 0 auto;
}
.image_recipe {
    background: url('../assets/images/recipeMockup.png');
}
.image_diary {
    background: url('../assets/images/diaryMockup.png');
}

.description{
    line-height: 21px;
    letter-spacing: -0.06em;
    color: var(--gray);
}
.back_button {
    width: 100%;
    height: 64px;
    margin-top: 46px;
    border: none;
    border-radius: 12px;
    outline: none;
    background: var(--main-orange);
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
}