.add_bottomsheet {
    z-index: 200;
}

/* 닫기 버튼 */
.close_button_wrap {
    text-align: right;
}
.close_button {
    margin-bottom: var(--sextuple-unit);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* 리스트 */
.list_item:not(:last-of-type) {
    margin-bottom: var(--octuple-unit);
}
.list_item > label {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.06em;
}
.list_item > div {
    margin-top: var(--quadruple-unit);
}
.input_wrap {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gainsboro);
}
.input_wrap > input {
    width: 100%;
    outline: none;
    border: none;
}
.input_wrap > input::placeholder {
    letter-spacing: -0.06em;
    color: var(--light-gray);
}

/* 하단 버튼 영역 */
.button_wrap {
    display: flex;
    gap: var(--triple-unit);
    width: 100%;
    margin-top: 51px;
    padding-top: 15px;
}
.button {
    width: 50%;
    height: 54px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 17px;
    outline: none;
    border: none;
    background: var(--main-orange);
    color: #fff;
}
.delete_button {
    border: 1px solid var(--gainsboro);
    background: #fff;
    color: #000;
}
.add_button {
    width: 100%;
}