.container {
    position: relative;
    top: -25px;
    padding: 0 var(--quadruple-unit);
}
.theme_wrap {
    padding: var(--octuple-unit);
    background: #fff;
    border-radius: var(--quadruple-unit);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.check_wrap {
    margin-bottom: calc(-25px + var(--quadruple-unit));
}
.check_area {
    margin-top: var(--octuple-unit);
    cursor: pointer;
}
.check_area > svg,
.check_area > span {
    vertical-align: middle;
}
.check_area > span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
}