.container {
    margin-bottom: var(--triple-unit);
    border-radius: var(--quadruple-unit);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.writer {
    display: flex;
    align-items: center;
    padding: var(--triple-unit) var(--quadruple-unit);
}
.writer_image_wrap {
    width: 32px;
    height: 32px;
    border: 1px solid var(--gainsboro);
    border-radius: 50%;
    overflow: hidden;
}
.writer_image_wrap > img {
    max-width: 100%;
}
.writer > span {
    margin-left: var(--double-unit);
    font-weight: 600;
}
.recipe_image_wrap {
    position: relative;
    height: 328px;
    background: var(--gainsboro);
    overflow: hidden;
}
.recipe_image_wrap > img {
    max-width: 100%;
}
.recipe_count {
    position: absolute;
    bottom: var(--double-unit);
    right: var(--double-unit);
    width: 27px;
    height: 18px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
.recipe_count > svg,
.recipe_count > span,
.icon_wrap > li > svg,
.icon_wrap > li > span {
    vertical-align: middle;
}
.recipe_count > span {
    margin-left: 1px;
    font-size: 12px;
    font-weight: 500;
    color: var(--dim-gray);
}
.icon_wrap > li {
    display: inline-block;
    margin-right: var(--triple-unit);
    cursor: pointer;
}
.icon_wrap > li > span {
    margin-left: 2px;
    font-weight: 600;
}
.content_wrap {
    padding: var(--triple-unit) var(--quadruple-unit);
}
.content {
    margin: var(--triple-unit) 0;
    white-space: pre-line;
}
.more_button {
    margin-left: var(--double-unit);
    border: none;
    background: none;
    font-size: 12px;
    color: var(--silver);
}
.date {
    font-size: 12px;
    color: var(--silver);
}