.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--quintuple-unit) var(--quadruple-unit);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: var(--quadruple-unit);
    z-index: 1000;
}
.message_wrap {
    display: table;
    width: 100%;
    height: 44px;
}
.message_wrap > p {
    display: table-cell;
    vertical-align: middle;
    white-space: pre-wrap;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.06em;
    line-height: 22px;
}
.button {
    width: 100%;
    height: 54px;
    margin-top: var(--quintuple-unit);
    outline: none;
    border: 1px solid var(--gainsboro);
    border-radius: 10px;
    background: #fff;
    font-weight: 600;
    font-size: 17px;
}
.button_wrap {
    display: flex;
    gap: var(--triple-unit);
}
.confirm_button {
    border: none;
    background: var(--main-orange);
    color: #fff;
}