.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: var(--quintuple-unit) var(--quadruple-unit);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: var(--quadruple-unit);
    z-index: 1000;
}
.message_wrap {
    display: table;
    width: 100%;
    height: 44px;
}
.message_wrap > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.button {
    width: 100%;
    height: 54px;
    margin-top: var(--quintuple-unit);
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--main-orange);
    font-weight: 600;
    font-size: 17px;
    color: #fff;
}


/* .container > h3 {
    font-size: 18px;
    margin-bottom: var(--double-unit);
}
.button_wrap {
    margin-top: var(--quadruple-unit);
    text-align: right;
}
.button_wrap > button {
    margin-left: var(--double-unit);
    border: none;
    background: none;
}
.button_wrap > button:first-of-type {
    color: var(--main-orange);
}
.button_wrap > button:last-of-type {
    color: var(--silver);
} */