.container {
    padding: 0 var(--quadruple-unit);
}
.filter_item_wrap {
    margin-bottom: var(--sextuple-unit);
}
.filter_item_wrap > li {
    display: inline-block;
    padding: var(--double-unit) 12px;
    margin-right: var(--standard-unit);
    border: 1px solid var(--lightest-gray);
    border-radius: 24px;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-gray);
}
.filter_item_wrap > li.selected {
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
}
.sorting_wrap {
    display: flex;
    margin-bottom: var(--double-unit);
}
.sorting_wrap > span {
    margin-left: var(--half-unit);
    font-size: 12px;
    font-weight: 500;
}