.container {
    width: 158px;
    height: 233px;
    background: #fff;
    border-radius: var(--quadruple-unit);
    box-shadow: var(--box-shadow);
}
.image_wrap {
    position: relative;
    height: 156px;
}
.image_wrap > img {
    width: 100%;
}
.diary_count {
    position: absolute;
    bottom: var(--double-unit);
    right: var(--double-unit);
    width: 23px;
    height: 14px;
    background: rgba(255, 255, 255, 0.6);;
    border-radius: 4px;
    overflow: hidden;
}
.diary_count > img {
    margin-top: 1px;
}
.diary_count > span {
    vertical-align: middle;
}
.diary_count > span {
    color: var(--dim-gray);
    font-size: 10px;
    font-weight: 500;
}
.content_wrap {
    padding: var(--double-unit);
}
.title {
    font-weight: 600;
    /* letter-spacing: -6%; */
}
.info {
    display: inline-block;
    margin-right: var(--half-unit);
    font-size: 11px;
    color: var(--dim-gray);
}
.info > img {
    vertical-align: middle;
}
.info > span {
    vertical-align: middle;
}