.container {
    padding: 0 var(--quadruple-unit);
    text-align: center;
}
.select_button_wrap {
    display: inline-block;
}
.sorting_wrap {
    display: flex;
    margin-top: var(--sextuple-unit);
    margin-bottom: var(--double-unit);
}
.sorting_wrap > svg,
.sorting_wrap > span {
    vertical-align: middle;
}
.sorting_wrap > span {
    margin-left: var(--half-unit);
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}