.container {
    position: relative;
    top: -25px;
    padding: 0 var(--double-unit);
}
.search_wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto calc(24px - 25px) ;
    background: #fff;
    border-radius: var(--double-unit);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.search_wrap > input {
    width: 88%;
    padding: 20px var(--double-unit);
    border: none;
    outline: none;
}
.search_wrap > input::placeholder {
    color: var(--light-gray);
}
.search_wrap > img {
    width: 24px;
    height: 24px;
    margin: var(--double-unit);
    cursor: pointer;
}