.container {
    position: relative;
    top: -25px;
    padding: 0 var(--quadruple-unit);
}
.search_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(-25px + var(--sextuple-unit));
    background: #fff;
    border-radius: var(--quadruple-unit);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}
.search_wrap > input {
    width: 88%;
    padding: 20px var(--quadruple-unit);
    border: none;
    outline: none;
}
.search_wrap > input::placeholder {
    color: var(--sliver);
}
.search_wrap > img {
    width: 24px;
    height: 24px;
    margin: var(--quadruple-unit);
    cursor: pointer;
}