.list_item {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.06em;
    cursor: pointer;
}
.list_item:hover {
    color: var(--main-orange);
}
.list_item:first-of-type {
    margin-bottom: var(--sextuple-unit);
}

.close_button {
    margin-bottom: var(--sextuple-unit);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}