/* 닫기 버튼 */
.button_wrap {
    text-align: right;
}
.close_button {
    margin-bottom: var(--sextuple-unit);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* 리스트 */
.list_item {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
    cursor: pointer;
}
.list_item:hover {
    color: var(--main-orange);
}
.list_item:first-of-type {
    margin-bottom: var(--octuple-unit);
}
.list_item:last-of-type {
    margin-bottom: calc(63px - 40px);
}
.list_item > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}